<section class="three_col_story_first_section">
	<div class="three_col_story-container-first-section">
		{% for item in stories |  slice(0,3) %}
		{% set count = loop.index0 %}
		{% if item['type'] == 'story' %}
		{% set story = item['story'] %}  
		<div class="three_col_stories_one">
			<a href="/{{ story['slug'] }}">
				<div class="three_col_stories_one_story">
					<figure>
						<img  alt="{{ story['hero-image-attribution'] }}" title= "{{ story['hero-image-attribution'] }}" src="{{ focusedImageUrl(story['hero-image-s3-key'], [3,1.75], story['hero-image-metadata'],{'w': 1000, 'q': 60, 'fmt': 'pjpeg', 'auto': 'format'}) }}" />
					</figure>
					<div class="content_wrapper">
						<h2>{{ story['headline']  | length >= 95 ? story['headline'] | slice(0,92) ~ '...' : story['headline'] }}</h2>
						<p>{{ story['subheadline'] | length >= 150 ? story['subheadline'] | slice(0,147) ~ '...' : story['subheadline'] }}</p>
					</div>
					<div class="three_col_comment_container">
						<a href="/author/{{ story['author-id'] }}">
							<span class="story_author"> <span class="by-author-text">By</span> {{ story['author-name'] }}</span></a>
							<div class="icon_wrapper">
								<div class="bulb"  id="bulb_{{ story['story-content-id'] }}"></div> 
								<span class="bulb_{{ story['story-content-id'] }}"></span>
								<div class="comment_icon" id="comment_{{ story['story-content-id'] }}"></div>
								<span class="comment_{{ story['story-content-id'] }}">
								{% if commentCount[count]['total_count'] == null %}
								0
								{% else %}
									{{ commentCount[count]['total_count'] }}
								{% endif %}
								</span> 
								<div class="bookmark" id="bookmark"></div>
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endif %}
			 
			{% endfor %}			
		</div>
	</section>
	
	{% if storyCount > 3 %}
	<div class="loadmore">
		<div class="load-more-results"></div>
		<button class="load-more" id="load-more-button">Load More</button>
	</div>
	{% endif %}

	<script type="text/javascript">
		var storyTemplate = "list_collections" ;
		var api ='/api/v1/collections/home-page';
		qtReady.push(function() { app.quintypeLoadMore($(".loadmore"), {limit: 3, offset: 3}, api, storyTemplate); });
	</script>
