<section class="section_three_col_story">
 	<div class="section_story-container"> 	 
{% for story in stories %}  
	<div class="three_col_stories_one">
			<a href="/{{ story['slug'] }}">
				<div class="three_col_stories_one_story">
					<figure>
					<img alt="{{ story['hero-image-attribution'] }}" title= "{{ story['hero-image-attribution'] }}" src="{{ focusedImageUrl(story['hero-image-s3-key'], [3,1.5], story['hero-image-metadata'],{'w': 1000, 'q': 60, 'fmt': 'pjpeg', 'auto': 'format'}) }}">
				</figure>
					<div class="content_wrapper">
					<h2>{{ story['headline']  | length >= 95 ? story['headline'] | slice(0,92) ~ '...' : story['headline']  }}</h2>
					<p>{{ story['subheadline']  | length >= 150 ? story['subheadline'] | slice(0,147) ~ '...' : story['subheadline']  }}</p>
					</div>
					<div class="three_col_comment_container">
						<a href="/author/{{ story['author-id'] }}">
							<span class="story_author"> <span class="by-author-text">By</span> {{ story['author-name'] }}</span></a>
							<div class="icon_wrapper">
								<div class="bulb"  id="bulb_{{ story['id'] }}"></div> 
								<span class="bulb_{{ story['id'] }}"></span>
								<div class="comment_icon" id="comment_{{ story['id'] }}"></div><span>234</span> 
								<div class="bookmark" id="bookmark"></div>
							</div>
						</div>
					</div>				
				</a>
			</div>
{% endfor %}
</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		if ( $( ".bookmark" ).hasClass( "hidden" ) ) {
			$( ".bookmark" ).hide();
		}
	});
</script>
